# Git
.git
.gitignore

# System
.DS_Store
*.log

# Dependencies
node_modules

# Build outputs
.nuxt
.output
dist

# Docker
Dockerfile
.dockerignore

# Environment
.env*

# Documentation
README*.md

# IDE
.vscode
.idea
*.swp
